@model SudokuSolver.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Login</h2>

<div class="form">
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("")
            <center>
                <div class="container">
                    <label><b>Email:</b></label>

                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                    <br />

                    <label><b>Password:</b></label>

                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                    <br />

                    <button type="submit">Login</button>

                    @Html.ActionLink("Click here to register", "Register")

                </div>
            </center>
        }
    </div>
</div>


