@model SudokuSolver.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("")

    @Html.TextBoxFor(m => m.Email)

    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Login" />

    @Html.ActionLink("Register", "Register");
}

