@model SudokuSolver.Models.IdentityModel.User

@{
    ViewBag.Title = "Load";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<center>
    <h2>Current Puzzles</h2>

    <div class="section">
        <table class="tableWrapper">
            <thead>
                <tr>
                    <th><label>Id</label></th>
                    <th><label>Last Edited</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Puzzles)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>

                        <td>@Html.DisplayFor(modelItem => item.LastEdited)</td>

                        <td>
                            <center>
                                <button class="smallButton" onclick="location.href='@Url.Action("OpenPuzzle", "Sudoku", new { PuzzleID = item.ID })'">Open</button>
                                <button class="smallButton" onclick="location.href='@Url.Action("DeletePuzzle", "Sudoku", new { PuzzleID = item.ID })'">Delete</button>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button onclick="location.href='@Url.Action("NewPuzzle", "Sudoku")'">New Puzzle</button>
    </div>
</center>